.user-input {
    margin-top: 45%;
}

ion-input {
    border-bottom: 1px solid;
}

.loading {
    margin-top: 2%;
    text-align: center;
    font-size: 14px;
    font-weight: bolder;
    color: brown;
}