h1 {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 7%;
}

h2 {
    font-size: 12px;
    text-align: center;
    font-weight: bolder;
    font-family: -webkit-pictograph;
}

.p1 {
    width: 80%;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    font-family: -webkit-pictograph;
    color: darkred;
    margin-bottom: 0;
}

.p2 {
    width: 15%;
    margin-left: 2%;
    display: inline-block
}